* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



.container {
    max-width: 450px;
    background-color: #343a40;
    margin: 20px auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 1px solid #3b5bdb;
    border-radius: 10px;
}

.container input{
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    box-shadow:0 3px 4px rgba(0, 0, 0, 0.3) inset;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    gap: 10px;
}


.btns button {
    padding: 10px 3%;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    box-shadow:  0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.4s ease;
}


button:hover {
    background-color: #d0ebff;
    color: #212529;
}

.clear {
    background-color: #f03e3e;
    color: #d0ebff;
}

.number, .decimal{
    background-color: #d0ebff;
}

.operator {
    background-color: #3bc9db;
}


.equal {
    grid-row: span 3;
    background-color: #2b8a3e;
}